*body {
    margin: 0;
    padding: 0;
}

/* IMAGEM DE FUNDO */
/*
.fundo_img{
    background: url("logoEron-removebg-preview.png") no-repeat center center fixed ;
}
*/

/* CABEÇALHO E TOPO */

header {
    text-align: center;
    margin: 0;
}

.titulo_header {
    font-size: 55px;
    display: grid;
    place-items: center;
}

.barra_botoes {
    padding-top: 0;
    margin-top: -15px;
}

.barra_botoes ul{
    display: grid;
    grid-template-columns: repeat(7, 170px);
    gap: 30px;
    justify-self: center;
    align-items: center;
}

.barra_botoes ul li {
    display: inline;
    margin-right: 15px;
}

.barra_botoes ul li a {
    color: black;
    text-decoration: none;
}

.barra_botoes li a:hover {
    text-decoration: underline;
}

/* MEIO */

.espaco_imagem_texto {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px;
    text-align: center;
}

.Imagem_do_texto {
    width: 600px;
    height: auto;
}

.texto_da_imagem {
    font-size: 21px;
}

/*Informaçoes e final*/

.opinioes_alunos{
    text-align: center;

    h3{
        font-size: 35px;
    }
}

.noticias_colegio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(1,1fr) ;
    gap: 25px;
    margin: 25px;

    h3{
        font-size: 25px;
    }

    p{
        font-size: 17px;
    }

    #Noticia1{
        background-color: rgb(216, 216, 216);
        padding: 10px;
    }
    #Noticia2{
        background-color: rgb(216, 216, 216);
        padding: 20px;
    }
}

.area_do_aluno_sec{
    margin: 25px;
    
    h3{
        font-size: 30px;
    }

    p{
        font-size: 18px;
    }
}
.projetos_escolares_sec{
    margin: 25px;
    
    h2{
        font-size: 30px;
    }

    

    p{
        font-size: 18px;
    }
}
.area_do_aluno_sec{
    margin: 25px;
    
    h3{
        font-size: 30px;
    }

    p{
        font-size: 18px;
    }
}

/* RODAPÉ */

footer {
    text-align: center;
    border-top: black solid 2px;
    margin-top: 30px;

    img {
        margin-top: 25px;
    }
}

p span {
    font-size: 10px;
}